<table class = "table table-bordered">
  <thead>
    <tr>
      <% if return_url %>
      <th>Select</th>
      <% end %>
      <th>Name</th>
      <th>Address</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% clients.each do |client| %>
      <tr>
        <% if return_url %>
        <td>
          <%= link_to 'Select', select_client_path(client.id), :method=> :post %>
        </td>
        <% end %>
        <td><%= client.full_name %></td>
        <td><%= client.address.full_address %></td>
        <td>
          <%= link_to client, class: 'btn' do %>
            <i class="icon-eye-open"></i> Show
          <% end %>
          <%= link_to edit_client_path(client), class: 'btn btn-primary' do %>
            <i class="icon-pencil icon-white"></i> Edit
          <% end %>
          <%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table> 
