<%= form_tag clients_path, method: 'get', class:'form-inline' do %>
  <div class='control-group'>
    <%= label_tag :is_person, nil, class: 'checkbox-inline' do %>
      <%= check_box_tag :is_person, 1, !params[:is_person].nil? %>
      <%= t('activerecord.attributes.client.is_person') %>
    <% end %>
  </div>
  
  <div class="control-group">
    <%= label_tag :last_name, t('activerecord.attributes.client.last_name') %>
    <div class="controls">
      <%= text_field_tag :last_name, params[:last_name] %>
    </div>
  </div>
  
  <div class="control-group">
    <%= label_tag :first_name, t('activerecord.attributes.client.first_name') %>
    <div class="controls">
      <%= text_field_tag :first_name, params[:first_name] %>
    </div>
  </div>
  
  <div class="control-group">
    <%= label_tag :patronymic, t('activerecord.attributes.client.patronymic') %>
    <div class="controls">
      <%= text_field_tag :patronymic, params[:patronymic] %>
    </div>
  </div>
  
  <div class="control-group">
    <%= label_tag :patronymic, t('activerecord.attributes.client.address') %>
    <div class="controls">
      <%= text_field_tag :address_str, params[:address_str] %>
    </div>
  </div>
  
  <%= submit_tag t('filter'), class: 'btn btn-normal' %>
  <%= link_to t('clear'), orders_path, class: 'btn btn-normal' %>
<% end %>