<%- model_class = Client 
    clients = model
-%>
<table class = "table table-bordered table-striped">
  <thead>
    <tr>
      <% if !return_url.nil? %>
      <th>Select</th>
      <% end %>
      <th><%= model_class.human_attribute_name(:full_name) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% clients.each do |client| %>
      <tr>
        <% if !return_url.nil? %>
        <td>
          <%= link_to 'Select', select_client_path(client.id), :method=> :post %>
        </td>
        <% end %>
        <td><%= client.full_name %></td>
        <td><%= client.address.full_address_rus %></td>
        <td>
          <%= render "table_actions", model: client %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table> 

<%= link_to t('.new', :default => t("helpers.links.new")),
    new_client_path,
    class: 'btn btn-primary pull-right' %>
