<%- model_class = Courier -%>
<div class="page-header">
  <h3><%= @courier.client.full_name %></h3>
</div>

<h5> <b><%= t('activerecord.attributes.courier.address_registration') %></b> </h5>
<%= render "shared/show_address", address: @courier.address_registration %>
<h5> <b><%= t('activerecord.attributes.courier.address_living') %></b> </h5>
<%= render "shared/show_address", address: @courier.address_living %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              couriers_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_courier_path(@courier), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              courier_path(@courier),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
