<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :sender %><br>
    <% if @sender.nil? %>
      <% if !@order.sender.nil?%>
        <%= @order.sender.full_name %>
        <%= f.hidden_field :sender_id, :value => @order.sender.id %>
      <% end %>
    <% else %>
      <%= @sender.full_name %>
      <%= f.hidden_field :sender_id, :value => @sender.id %>
    <% end %>
    <%= link_to "Select sender", select_srr_orders_path(:srflag => :sender) %>
  </div>
  <div class="field">
    <%= f.label :receiver %><br>
    <% if @receiver.nil? %>
      <% if !@order.receiver.nil?%>
        <%= @order.receiver.full_name %>
        <%= f.hidden_field(:receiver_id, :value => @order.receiver.id) %>
      <% end %>
    <% else %>
        <%= @receiver.full_name %>
        <%= f.hidden_field :receiver_id, :value => @receiver.id %>
    <% end %>
    <%= link_to "Select receiver", select_srr_orders_path(:srflag => :receiver) %>
  </div>
  <div class="field">
    <%= f.label :sum %><br>
    <%= f.text_field :sum %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
