<%= form_for @order, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :sender, :class => 'control-label' %><br>
    <% if @sender.nil? %>
      <% if !@order.sender.nil?%>
        <span> <%= @order.sender.full_name %> </span>
        <%= f.hidden_field :sender_id, :value => @order.sender.id %>
      <% end %>
    <% else %>
      <span> <%= @sender.full_name %> </span>
      <%= f.hidden_field :sender_id, :value => @sender.id %>
    <% end %>
    <%= link_to "Select sender", select_srr_orders_path(:srflag => :sender), class: 'btn' %>
  </div>
  <div class="control-group">
    <%= f.label :receiver, :class => 'control-label' %><br>
    <% if @receiver.nil? %>
      <% if !@order.receiver.nil?%>
        <%= @order.receiver.full_name %>
        <%= f.hidden_field(:receiver_id, :value => @order.receiver.id) %>
      <% end %>
    <% else %>
        <%= @receiver.full_name %>
        <%= f.hidden_field :receiver_id, :value => @receiver.id %>
    <% end %>
    <%= link_to "Select receiver", select_srr_orders_path(:srflag => :receiver), class: 'btn' %>
  </div>
  <div class="control-group">
    <%= f.label :sum, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sum, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                orders_path, :class => 'btn' %>
  </div>
<% end %>
