<%= simple_form_for @order, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <div class="control-group">
    <%= f.label :sender %>
    <div class="controls">
      <%= render partial: "select_client", locals: { local_object: @sender, model_object: @order.sender, target: :sender, f: f } %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :receiver %>
    <div class="controls">
      <%= render partial: "select_client", locals: { local_object: @receiver, model_object: @order.receiver, target: :receiver, f: f } %>
    </div>
  </div>
  
  <%= f.input :sum %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                orders_path, :class => 'btn' %>
  </div>
<% end %>
