<%= form_tag orders_path, method: 'get', :class => 'form-inline' do %>  
  <div class="control-group">
    <%= label_tag 'Issue date start', nil, class: 'control-label' %>
    <div class="controls">
      <%= text_field_tag :issue_date_start, params[:issue_date_start], class: 'input-mini' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= label_tag 'Issue date end' %>
    <div class="controls">
      <%= text_field_tag :issue_date_end, params[:issue_date_end] %>
    </div>
  </div>
  
  <div class="control-group">
    <%= label_tag 'Delivery date start' %>
    <div class="controls">
      <%= text_field_tag :delivery_date_start, params[:delivery_date_start] %>
    </div>
  </div>
  
  <div class="control-group">
    <%= label_tag 'Delivery date end' %>
    <div class="controls">
      <%= text_field_tag :delivery_date_end, params[:delivery_date_end] %>
    </div>
  </div>
  
  <%= submit_tag 'Filter', class: 'btn btn-normal' %>
  <%= link_to 'Clear', orders_path, class: 'btn btn-normal' %>
<% end %>

<!--<script type='text/javascript' >
  $('input[id^=date]').datepicker();
</script> -->