<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @order.number %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @order.sender.full_name %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @order.receiver.full_name %>
</p>

<p>
  <strong>Sum:</strong>
  <%= @order.sum %>
</p>

<p>
  <strong>Delivered date:</strong>
  <%= @order.delivered_date %>
</p>

<p>
  <strong>Issued date:</strong>
  <%= @order.issued_date %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
