<%- model_class = ContactType -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human(:count => "many").mb_chars.capitalize.to_s %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:type_name) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @contact_types.each do |contact_type| %>
      <tr>
        <td><%= link_to contact_type.id, contact_type_path(contact_type) %></td>
        <td><%= contact_type.type_name %></td>
        <td><%=l contact_type.created_at %></td>
        <td>
          <%= render "table_actions", model: contact_type, without_show: true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_contact_type_path,
            :class => 'btn btn-primary' %>
